---
import PictureFrame from "@components/component/PictureFrame.astro";

interface Props {
  name: string;
  comment: string;
  thumbnail: {
    url: string;
    alt: string;
  };
  portrait: {
    url: string;
    alt: string;
  };
}

const { name, comment, thumbnail, portrait } = Astro.props;
---

<article class="card js-review-card-animation">
  <div class="card__container">
    <div class="card__block">
      <h3 class="card__name">{name}</h3>
      <div class="card__portrait">
        <PictureFrame url={portrait.url} alt={portrait.alt} />
      </div>
    </div>
    <p class="card__comment">{comment}</p>
    <div class="card__thumbnail">
      <PictureFrame url={thumbnail.url} alt={thumbnail.alt} />
    </div>
  </div>
</article>

<style lang="scss">
  .card {
  }

  .card__container {
    display: block grid;
    grid-template-areas:
      "thumbnail"
      "block"
      "comment";

    @container (min-width: 600px) {
      grid-template-areas:
        "thumbnail thumbnail"
        "comment block";
      grid-template-columns: 300fr 100fr;
      column-gap: calc(10 * var(--rem-ratio));
      justify-content: space-between;
    }
  }

  .card__block {
    grid-area: block;
    display: block grid;
    grid-template-areas: "portrait name";
    grid-template-columns: 60fr 115fr;
    column-gap: calc(5 * var(--rem-ratio));
    align-items: center;
    justify-items: center;
    margin-block-start: calc(5 * var(--rem-ratio));

    @container (min-width: 600px) {
      grid-template-areas:
        "portrait"
        "name";
      grid-template-columns: revert;
      margin-inline-start: auto;
      max-inline-size: calc(100 * var(--rem-ratio));
      align-items: revert;
      align-content: start;
      row-gap: calc(5 * var(--rem-ratio));
    }
  }

  .card__name {
    grid-area: name;
    font-size: var(--font-size-15-20);
    font-weight: 400;
    line-height: var(--line-height-15-18);
    word-break: keep-all;

    @include global.mq() {
      line-height: var(--line-height-20-24);
    }
  }

  .card__portrait {
    grid-area: portrait;

    :global(img) {
      object-fit: cover;
    }
  }

  .card__comment {
    grid-area: comment;
    margin-block-start: calc(10 * var(--rem-ratio));
    font-size: var(--font-size-15-20);
    line-height: var(--line-height-15-18);

    @include global.mq() {
      line-height: var(--line-height-20-24);
    }

    @container (min-width: 600px) {
      max-inline-size: calc(300 * var(--rem-ratio));
      min-block-size: calc(175 * var(--rem-ratio));
      margin-block-start: calc(5 * var(--rem-ratio));
    }
  }

  .card__thumbnail {
    grid-area: thumbnail;

    :global(img) {
      object-fit: cover;
      aspect-ratio: calc(180 / 200);

      @container (min-width: 600px) {
        aspect-ratio: calc(480 / 300);
      }
    }
  }
</style>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.utils
    .toArray<HTMLElement>(".js-review-card-animation")
    .forEach((item) => {
      gsap.fromTo(
        item,
        {
          y: 20,
          autoAlpha: 0,
        },
        {
          y: 0,
          autoAlpha: 1,
          scrollTrigger: {
            trigger: item,
            toggleActions: "play none none reverse",
            start: "top 90%",
            // markers: true,
          },
        },
      );
    });
</script>
