---
import ConsultationMedia from "@components/component/ConsultationMedia.astro";
import Section from "@layouts/Section.astro";

const title = "個別相談会";
const image = { url: "/src/assets/consultation@2x.png", alt: "相談のイメージ" };
const text = "初めての方へおすすすめ お気軽にご相談ください。";
const access = {
  companyName: "株式会社 丸山工務店",
  postalCode: "〒343-****",
  address: "埼玉県*********",
  phoneNumber: "TEL：048-****-****",
  faxNumber: "FAX：048-****-****",
};
const buttonText = "お問い合わせ";
---

<Section title={title}>
  <div class="consultation-media">
    <ConsultationMedia
      image={image}
      text={text}
      access={access}
      buttonText={buttonText}
    />
  </div>
</Section>

<style lang="scss">
  .consultation-media {
  }
</style>
