---
import AfterIconButton from "@components/component/AfterIconButton.astro";
import ReviewCard from "@components/component/ReviewCard.astro";
import Section from "@layouts/Section.astro";

const title = "お客様の声";
const buttonText = "施工事例";

interface Post {
  frontmatter: {
    name: string;
    comment: string;
    thumbnail: {
      url: string;
      alt: string;
    };
    portrait: {
      url: string;
      alt: string;
    };
  };
}

const importPosts = import.meta.glob<Post>("../../pages/review/*.md");
const posts = await Promise.all(
  Object.entries(importPosts).map(async ([path, loader]) => {
    const post = await loader();
    return post;
  }),
);
---

<Section title={title}>
  <div class="review-cards">
    {
      posts.map((post) => (
        <ReviewCard
          name={post.frontmatter.name}
          comment={post.frontmatter.comment}
          thumbnail={post.frontmatter.thumbnail}
          portrait={post.frontmatter.portrait}
        />
      ))
    }
  </div>
  <div class="button">
    <AfterIconButton text={buttonText} />
  </div>
</Section>

<style lang="scss">
  .review-cards {
    display: block grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calc(20 * var(--rem-ratio));

    @container (min-width: 600px) {
      column-gap: calc(40 * var(--rem-ratio));
      padding-block-end: calc(20 * var(--rem-ratio));
    }
  }

  .button {
    margin-block-start: calc(10 * var(--rem-ratio));
    text-align: center;

    @container (min-width: 600px) {
      margin-block-start: calc(20 * var(--rem-ratio));
    }
  }
</style>
